.menuBase { 
  position: relative;
  display: flex;
}

.menu {
  width: 8rem; 
  position: absolute; 
  right: 0;
  list-style-type: none;
  background-color: white;
  color: black;
  font-size: 16px;
  border: 1px solid #aeb8b8;
  border-radius: 5px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

.menuNodes { 
  composes: menu;
  right: 8rem;
}

.menuItems {
  cursor: pointer;
  padding: 10px;
  font-weight: 500;
}

.menuItems:hover {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

.menuExtra {
  display: flex;
  justify-content: flex-end;
}
