.nodeSection {
  display: flex;
  align-items: center; 
  justify-content: flex-start;
} 

.nodeMenuSection {
  display: flex;
}

.nodeBase { 
  border-width: 1px 1px 1px 5px;
  border-style: solid;
  border-radius: 5px;
  font-size: 14px;
  width: 95%;
  margin: 1rem;
  margin-top: 0rem;
}

.node {
  display: flex;
  flex-direction: column;
}

.nodeSequence {
  composes: nodeBase;
  color: #8399ff;
}

.nodeStep {
  composes: nodeBase;
  color: #aeb8b8;
}

.nodeSuccess {
  composes: nodeBase;
  color: #06c258;
}

.nodeWarning {
  composes: nodeBase;
  color: #f5900c;
}

.nodeError {
  composes: nodeBase;
  color: #ff0803;
}

.nodeSelection {
  composes: nodeBase;
  color: #09bda8;
}

.nodeSwitch {
  composes: nodeBase;
  color: #ff1570;
}

.nodeTcf {
  composes: nodeBase;
  color: #026beb;
}

/* Title */

.nodeTitleBase {
  color: white;
  padding: 3px;
  margin: 0.5rem 0rem;
  border-radius: 5px;
  font-weight: 500;
}

.nodeTitleSequence {
  composes: nodeTitleBase;
  background-color: #8399ff;
}

.nodeTitleStep {
  composes: nodeTitleBase;
  background-color: #aeb8b8;
}

.nodeTitleSuccess {
  composes: nodeTitleBase;
  background-color: #06c258;
}

.nodeTitleWarning {
  composes: nodeTitleBase;
  background-color: #f5900c;
}

.nodeTitleError {
  composes: nodeTitleBase;
  background-color: #ff0803;
}

.nodeTitleSelection {
  composes: nodeTitleBase;
  background-color: #09bda8;
}

.nodeTitleSwitch {
  composes: nodeTitleBase;
  background-color: #ff1570;
}

.nodeTitleTcf {
  composes: nodeTitleBase;
  background-color: #026beb;
}

/* Menu - icon */

.menuIconEditMode { 
  cursor: pointer; 
}

.nodeTextInput {
  width: 100%;
  border: 1px dashed #aeb8b8;
  border-radius: 5px; 
}

.inputSection {
  display: flex;
  align-items: center;
  gap: 1rem; 
  color: black;
  width: 100%;
} 

/* Toggle arrow */ 
.toggleArrow { 
  padding-left: 10px;
  padding-right: 10px;
}
