.App {
  text-align: center;
} 

/*Layout, Header*/
.preHeader {
  display: flex; 
  justify-content: flex-end; 
}  

.header {
  display: flex; 
  justify-content: space-around;
}  

.buttons { 
  display: flex; 

}

/*Layout, Forest*/ 

.forestContent {
  display: flex; 
  align-items: center; 
  flex-direction: column; 
} 
