.pre-header {
    display: flex; 
    justify-content: flex-end; 
} 
.header{
    display: flex; 
    justify-content: space-around;
}

/*buttons*/
button { 
    border: none;
    background-color: transparent;
    cursor: pointer; 
    font-size: 16px; 
    color: #AEB8B8;
    margin: 1rem 1.5rem 1rem; 
    padding: 8px 16px 8px; 
} 

.update {
    background-color: #06c258; 
    color: white;
    border-radius: 5px; 
    font-size: 12px;
} 

.language {
    color: #AEB8B8; 
    background-color: transparent;  
} 

/* Language select */ 
select { 
    border: none;  
    border-radius: 5px;
    background-color: #AEB8B8;
    cursor: pointer; 
    font-size: 12px; 
    color: white;
    margin: 1rem 1.5rem 1rem; 
    padding: 10px;
}  

select option {
    background-color: white; 
    color: #AEB8B8; 
    
}

/* Dropdown */ 
/* .dropdown {  

}  */

.dropdown ul {
    list-style: none; 
} 

.dropdown li { 
    display: flex; 
    justify-content: center;
    height: 25px;
} 

button img {
    width: 10px; 
    padding-left: 5px;
}